#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

%:
	dh $@

build: patch
	cp debian/builddir.mk Makefile
	dh build

clean: unpatch
	dh clean

# Please read debian/README.Source for details on this build
