#!/usr/bin/make -f

ifeq ($(DEB_BUILD_ARCH),alpha)
  alphacfg := --disable-zoom
endif

config_opts := \
  $(alphacfg) \
  --enable-upgrade=no \
  --enable-hints-gnome \
  --enable-pango \
  --libdir=/usr/lib \
  --disable-esdtest \
  --disable-rpath \
  --prefix=/usr \
  LDFLAGS="$${LDFLAGS} -Wl,--as-needed"

author := --author 'Laurence J. Lane <ljlane@debian.org>'
patches := --patches 'debian/patches'

initialize-stamp:
	git init
	echo debian/e16.debhelper.log >> .git/info/exclude
	echo debian/e16-data.debhelper.log >> .git/info/exclude
	git add .
	git commit -m '$@'
	git branch work
	git checkout work
	git quiltimport $(author) $(patches)
	touch $@

build: build-stamp
build-stamp: initialize-stamp
	dh build --before dh_auto_configure
	  libtoolize --force
	  autoreconf -fi
	  dh_auto_configure -- $(config_opts)
	  git add .
	  git commit -m '$@'
	dh build --after dh_auto_configure
	touch $@

install: build
	dh install --before dh_install
	  dh_install --sourcedir=debian/tmp -pe16 -Pdebian/e16
	  dh_install --sourcedir=debian/tmp -pe16-data -Pdebian/e16-data
	dh install --after dh_install
clean:
	dh clean
	test ! -d .git || git commit -a -m '$@'
	test ! -d .git || git checkout master
	rm -f misc/*.desktop
	rm -rf .git

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep

.PHONY: initialize build clean install binary binary-%
